<div class="portal-content">
    <h1>SP26-OJT CyberRange</h1>
    <div class="portal-menu">
        @for (portalAgendaContainer of portalAgendaContainers; track portalAgendaContainer; let last = $last) {
            <div>
                <crczp-portal-agenda-container
                    [portalAgendaContainer]="portalAgendaContainer"
                    [elevation]="elevated"
                    [isLast]="last"
                    (navigation)="navigateToRoute($event)"
                    (setElevation)="setElevation($event)"/>
            </div>
        }
    </div>
</div>
